/*
  Universal, html, and body styles
  See global.js for other global styles
  (global.js can't reach html and body)
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}